# Environment variables for RIVO Backend

NODE_ENV=development
PORT=5000

# MongoDB Connection String
# Use your local MongoDB instance or MongoDB Atlas URI
MONGODB_URI=mongodb://localhost:27017/rivo

# JWT Secret (generate a strong secret for production)
JWT_SECRET=rivo_super_secret_key_2026
JWT_EXPIRE=30d
JWT_REFRESH_SECRET=rivo_refresh_super_secret_key_2026

# Frontend URL for CORS
CLIENT_URL=http://localhost:5173

# Email Config
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=8bea6b2b4ba14e
SMTP_PASSWORD=84c9259966b07a
FROM_EMAIL=noreply@rivocare.in
FROM_NAME=RIVO

# Provider KYC
ENCRYPTION_SECRET=generate_your_own_32_byte_hex
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
